.skin-3 .navbar {
    background: #000066 none repeat scroll 0 0 !important;
}

.skin-3 .breadcrumbs {
    border-width: 0;
    background-color: #CCCCCC !important;
    border-radius: 4px;
    margin: 8px 8px 0;
}

a {
    color: #000066 !important;
    text-decoration: none;
}

.widget-color-blue>.widget-header {
    background: #000066 !important;
    border-color: #000066 !important
}
.widget-color-blue2 {
    border-color: #000066 !important
}
.widget-color-blue2>.widget-header {
    background: #000066 !important;
    border-color: #000066 !important
}

.profile-activity .thumbicon {
    background-color: #000066 !important;
}

.btn-primary:focus {
    background-color: #666666 !important;
}

.btn-primary, .btn-primary.focus, .btn-primary:focus {
    background-color: #111111 !important;
    border-color: #FFFFFF !important;
}
